<div class="row d-flex justify-content-center">
  <div class="col-sm-7">
    <div *ngFor="let item of valves">
      <div class=" clearfix">
        <div class="row m-2 p-2 border border-4">
          <div class="col-2">
            <h4>{{item.id}}</h4>
          </div>
          <div class="col-6 ">
            <h4>{{item.descrizione}}</h4>
          </div>

          <div class="col-4">
            {{item.stato}} <i class="fas fa-acorn fa-lg"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
